<!doctype>
<html>
  <head>
    <title>Rock Paper Scissors Lizard Spock</title>
    <style>
    body {
      font-family: 'Helvetica Neue';
      margin: 15px 0 0 30px;
      margin-top: 5%;
    }

    .choices .choice {
      display: inline-block;
      width: 15%;
      margin-right: 2.5%;
      cursor: pointer;
      opacity: 0.5;
      transition: 1s all ease;
    }

    .choices img:hover {
      opacity: 1;
    }

    title {
      color: #faf;
    }

    h2, h3 {
      text-transform: capitalize;
      text-align: center;
    }

    #results {
      list-style: none;
      margin-left: 25%;
    }

    #results li {
      text-align: center;
      background: #999;
      color: #fff;
      font-size: 24px;
      border-radius: 8px;
      padding: 5px;
      width: 50%;
      
      margin-bottom: 10px;
      display: none;
    }
    </style>
  </head>
  <body>
    <h1><span>Try your luck:</span></h1>
    <div class='choices'>
      <div class='choice'>
        <img src="images/rock2.jpg" width="200" hieght="200" data-choice='rock'/>
        <h3>Rock</h3>
      </div>
      <div class='choice'>
        <img src="images/paper6.jpg" width="200" hieght="200" data-choice='paper'/>
        <h3>Paper</h3>
      </div>
      <div class='choice'>
        <img src="images/scissors2.png" width="200" hieght="200" data-choice='scissors'/>
        <h3>Scissors</h3>
      </div>
      <div class='choice'>
        <img src="images/lizard3.jpeg" width="200" hieght="200" data-choice='lizard'/>
        <h3>Lizard</h3>
      </div>
      <div class='choice'>
        <img src="images/spock2.jpeg" width="200" hieght="200" data-choice='Spock'/>
        <h3>Spock</h3>
      </div>
    </div>
    <ul id="results">
    </ul>

    <script src='lib/Player.js'></script>
    <script src='lib/Game.js'></script>
    <script src='http://code.jquery.com/jquery-2.1.1.min.js'></script>
    <script>
      $(document).ready(function(){
        var alex = new Player('Alex');
        var tony = new Player('Tony');
        var human = new Player('your');
        var computer = new Player("my");
        var game = new Game(human, computer)

        $('.choices img').on('click', function(){
          human.chooses($(this).data('choice'));
          computer.randomChoice();

          $('#results').prepend('<li>' + game.winningMessage() + '</li>');
          $('#results li').slideDown(1500);
          $('li:nth-child(2)').fadeOut(9000, function(){
            $(this).remove()
          })
        })
      })
    </script>
  </body>
</html>